<div>
    <app-navsection></app-navsection>
</div>
<div class="container">
    <div class="box">
        <h3 style="color: #581845; text-align: center;">KYC RULE GUIDE</h3>
        <br>
        <p style="color: #581845;text-align:center;font-size: large; font-weight: bold;"> Master Direction - Know Your Customer (KYC) Direction, 2016</p>
        <br>

        <div>
            <p style="color: #581845;">1.In terms of the provisions of Prevention of Money-Laundering Act, 2002 and the
                Prevention of Money-Laundering
                (Maintenance of Records) Rules, 2005, as amended from time to time by the Government of India as
                notified by the
                Government of India, Regulated Entities (REs) are required to follow certain customer identification
                procedures
                while undertaking a transaction either by establishing an account-based relationship or otherwise and
                monitor their transactions.
                1REs shall take steps to implement the provisions of the aforementioned Act and Rules,
                including operational instructions issued in pursuance of such amendment(s).
            </p>
        </div>

        <div>
            <p style="color:#581845;">2. Accordingly, in exercise of the powers conferred by Sections 35A of the Banking
                Regulation Act, 1949,
                the Banking Regulation Act (AACS), 1949, read with Section 56 of the Act ibid, Rule 9(14) of Prevention
                of
                Money-Laundering (Maintenance of Records) Rules, 2005 and all other laws enabling the Reserve Bank in
                this regard,
                the Reserve Bank of India being satisfied that it is necessary and expedient in the public interest to
                do so,
                hereby issues the Directions hereinafter specified.
            </p>
        </div>
        <div>
            <P style="color: #581845;font-weight: bold;margin-left: 10px;">KYC Documents for Customer</P>
            <ul style="color: #581845;">
                <li>
                    Two passport size photograph.</li>
                   <li> ID Proof such as Driving License / PAN Card / Form 60/61 / Passport Copy / Voter ID Card / Aadhaar Card / 
                       Ration Card. Any one document needs to be submitted.</li>
                    <li>Address Proof such as Driving License / Voter ID Card / Ration Card /
                         Aadhaar Card / Passport Copy /
                          registered lease agreement with not older than 3 months utility bills in the name of landlord (any one).</li>
            </ul>
            <p style="color: #581845;font-weight:bold; margin-left: 10px;">Either try First or try the second process</p>
           <p style="color: #581845;font-weight: bold;margin-left: 10px;">First process</p>
            <ul style="color: #581845;margin-left: 10px;">
                
                <li>For uploading KYC Doucmets:
                <li>Step 1: Scan all the proof</li>
                <li>Step 2: convert all the proofs to pdf</li>
                <li>step 3: document the proof/ put all the proof in one folder</li>
                <li>step 4: Zip the document and the upload</li>
            </ul>
            <p style="color: #581845;font-weight: bold;margin-left: 10px;">Second process</p>
            <ul style="color: #581845;margin-left: 10px;">
                <li>For uploading KYC Doucmets:
                <li>Step 1: Scan all the proof</li>
                <li>Step 2: convert all the proofs to pdf</li>
                <li>step 3: put all the proof in one folder</li>
                <li>step 4: Zip the document and the upload</li> 
            </ul>

        </div>

    </div>
</div>