<div>
<app-samplenav></app-samplenav>
</div>
<div class="container">
    <div class="loginbox" style="justify-content: center;">
        <h3 style="text-align: center;">Change Password</h3>
        <form name="form">
            <div class="pnobox"><br>
                <div><label style="font-size:18px;">Enter the current Phone-number</label><input type="password"
                        formControlName="oldpassword" class="form-control" />
                </div>
                <br>
                <div><label style="font-size:18px;">Enter the new Phone-numberto be Changed </label><input type="password"
                        formControlName="newpassword" class="form-control">

                </div><br>
            </div>
            <br>
            <div>
                <button class="otpbtn">Change Phone-number</button>
            </div>
        </form>
    </div>

</div>

