<div>
    <app-navsection></app-navsection>
</div>

<div class="container-fluid" style="margin-top: 150px;margin-left:100px;">
    <div class="row">
        <div class="col-sm-6">
            <h5 class="card-title" style="font-style: italic;font-size:30px;">Fulfill your dreams by taking a loan against Gold!</h5>
            <p class="card-text"style="font-style: italic;">Get a loan at attractive rates with minimum documentation. Use this Gold Loan
                Calculator, to work out your EMIs and tenure.</p>
            <div class="card" style="padding:2rem; border:2px solid #581845;">
                <h5 class="card-header">Gold loan calculator</h5>
                <div class="card-body"style="border:1px solid #581845;">
                    <div class="card">
                        <div class="card-body">

                            <div class="card-body">
                                <div class="title-block">
                                    <select id="gold" class="Ornaments" name="Ptype" style="border: none;">
                                        <option value="undefined">Ornaments</option>
                                        <option value="Necklace">Necklace</option>
                                        <option value="Ring">Ring</option>
                                        <option value="Chain">Chain</option>
                                        <option value="Gold Coin">Gold Coin</option>
                                        <option value="Solid Bangles">Solid Bangles</option>
                                        <option value="Others">Others</option>
                                    </select>

                                    <input class="name" type="text" id="netWeight" placeholder="Net Weight (gms)"
                                        name="gms"  style="border: none;"/>
                                    <select id="carat" class="carat" name="Ptype" style="border: none;">
                                        <option value="undefined">Caratage</option>
                                        <option value="crt1">22</option>
                                        <option value="crt2">24</option>

                                    </select>
                                </div>
                            </div>

                            <hr style="color: #581845;">
                            <div class="title-block">

                                <input class="name" type="text" id="name" placeholder="Total Cost" name="gms"  style="border: none;"/>
                                <input class="name" type="text" id="name" placeholder="Eligible loan amount"
                                    name="gms"  style="border: none;"/>
                                <input class="name" type="text" id="name" placeholder="Gross Total" name="gms"  style="border: none;" />

                                <div class="title-blocks"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        <div class="col-sm-4" style="margin-top: 90px;">
            <img src="https://www.animatedimages.org/data/media/701/animated-scales-image-0020.gif" style="width: 250px; height:250px;">
        </div>
    </div>
    </div>
    
